

header{


    .row{
        align-items: center;
    }
}

.top_nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}


.nav_left-list {
    list-style: none;
    background-color: $white;
    padding: 1rem 0;
    width: fit-content;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

    li:not(:last-child) {
        border-right: 2px solid #111;
    }

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1000px;
        height: 100%;
        background-color: $white;
        transform: translateX(-100%);
    }

}

.nav_left-item {
    color: $black;
    text-decoration: none;
    padding: 0 1.5rem;
    text-transform: capitalize;

    &:hover {
        color: inherit;
    }

    strong {
        margin: 0 .5rem;
    }
}

.nav_top-right{
    justify-content: center;

    .nav_right-list {
        justify-content: end;
    }
}

.nav_right-list{
    list-style: none;
    gap: 1rem;
}

.nav_right-item{
    color: $white;
    text-decoration: none;
    text-transform: capitalize;
    // padding: 0 1rem;

    &:hover {
        color: inherit;
    }

    i{
        position: relative;
        margin-right: 1rem;
        color: $black;
        &:after{
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: $white;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
        }
    }

}

.navbar{
    .container-fluid{
        padding: 0;
    }
}

.navbar-brand{
    padding-left: 2.7rem;
    color: $white;
    font-weight: bold;
    margin-right: auto;
    &:before{
        content: '';
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        top: 0;
        left: 0;
        // transform: translateX(-100%);
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
    }
}

.navbar{

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0 ;
    } 
    .navbar-collapse{
        justify-content: center;
    }

    .nav-link{
        text-transform: capitalize;
        font-weight: 600;
        color: $white!important;
    }
}

.hero{

    .hero_sect-text{
        position: absolute;
        height: calc(100% - 2rem);
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        color: $white;

        .container,.hero_sect-text-inner{
            height: 100%;
        }

        .hero_sect-text-inner{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .sec_heading{
                margin-top: 6rem;
            }

        }

        .sec_heading{
            p{
                font-size: calc(1rem + .5vw);
            }

            .custom_a{
                font-size: 1rem;
                font-weight: bold;
                margin-top: 2rem;
            }
        }
    }
    .swiper-slide{
        img{
            width: 100%;
            height: 95vh;
            object-fit: cover;
        }
    }

    .slider_components-wrapper{
        margin-top: 0;
        transform: translateY(-50%);
        z-index: 10;
    }

}



//styling of company_services section

.company_services{
    .sec_heading{
        text-align: center;
        width: 80%;
        margin: 0 auto;
        animation-fill-mode: both;
        stroke-linecap: round;
    }

    .card{
        padding: 6rem 2rem 2rem 2rem;
        outline: 1px solid lighten($color: $black, $amount: 50%);
        outline-offset: -.75rem;
        border: 1px solid lighten($color: $black, $amount: 50%);
        z-index: 1;
        margin-top: 8rem;

        // h2{
        //     transition: all .3s linear;
        // }
        // background-color: $white;
        // background-image: url(../img/prising-card-bg.jpg);
        
        
        // background-blend-mode: lighten;
        

        figure{
            position: absolute;
            top: 0;
            left: 1rem;
            width: 8rem;
            height: 8rem;
            background-color: $color-green;
            border-radius: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 1px solid;
            outline-color: lighten($color: $black, $amount: 50%);
            outline-offset: -.75rem;

            img{
                width: 4rem;
                height: 4rem;
                object-fit: cover;

            }
        }

        .company_card-item{
            color: $black;
            padding-left: 1.5rem;

            &:after{
                content: '\ea42';
                position: absolute;
                font-size: 1rem;
                top: 0;
                left: 0;
                color: $black;
                font-family: "icomoon";
                transition: all .3s linear;

            }
        }

        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(../img/prising-card-bg.jpg);
            opacity: 0;
            transition: all .3s linear;
        }

        &:hover{
            transform: translateY(-1rem);
            &:before{
                opacity: 1;
            }

            outline-color: $white;
            

            color: $white;

            .company_card-item{
                color: $white;

                &:after{
                    color: $white;
                }
            }

        }
    }
}

.signature_sect{
    .signature{

        display: block;
        margin: 0 auto;
        width: 15rem;
        height: 5rem;
        animation: draw 3s .3s forwards;

    }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 200;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

//styling of our_progress-sect

.our_progress-sect{
    background-color: lighten($color: $black, $amount: 95%);
    .sec_heading{
        p{
            color: lighten($color: $black, $amount: 50%);
        }
    }

    .chart_sect{
        height: 100%;
    }
}

// .chart_sect-a{
//     &:before{
//         content: '';

//         position: absolute;
//         width: 40%;
//         height: 40%;
//         background-color: green;
//     }
// }



// styling of our_designs-sect

.design_sect-images{
    padding: 8rem 0;
}


.design_img{
    position: absolute;
    object-fit: cover;
}

.design_img-a{
    top: 0;
    right: 20%;
    width: 130px;
    height: 150px;
    object-fit: cover;
    
}

.design_img-b{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.design_img-c{
    bottom: 0;
    left: 20%;
    // width: 130px;
    // height: 150px;
    object-fit: cover;
    
}


.design_list-item{
    padding: .75rem .5rem .75rem 1.5rem;
    color: lighten($color: $black, $amount: 50%);

    &::before{
        position: absolute;
        content: '\ea3c';
        font-family: icomoon;
        left: 0;


    }
}

.our_designs-sect{
    .sec_heading{
        margin-bottom: 2rem;
    }
}


//styling of our_works sect


.our_works-top-strip{
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}


.our_works-tabs{ 

    #v-pills-tabContent{
        width: 100%;
    }

    .nav-link{
        text-align: left;
    }
    .nav-pills .nav-link{
        color: $black;
        width: max-content!important;  
    }

    .nav-link.active{

        background-color: transparent;
        color: $black;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: lighten($color: black, $amount: 40%);
    }

    .tab-pane{
        width: 100%!important;

    }

    .card{
        border: 0;
        figure{
            margin: 0;
        }
        
    }
    .col_a{
        display: block;
        width: 100%;
        padding-top: 50%;
        background-color: green;

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    .col_b{
        display: block;
        width: 100%;
        padding-top: 70%;
        background-color: green;

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    
}

.chart_sect{
    justify-content: space-between;
}

.donut-container{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.donutCenterLabel {
    position: absolute;
    top: 50%; /* Adjust to center vertically */
    left: 50%; /* Adjust to center horizontally */
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }




.our_work-card-heading{
    text-transform: capitalize;
    padding: 1rem 0;
    small{
        display: block;
        color: lighten($color: $black, $amount: 70%);
        font-size: 50%;
        font-weight: normal;
    }
}

@media(max-width: 1200px){
    header{
        .row{
            gap: 2rem;
        }

        .nav_left-list{
            width: 100%;
        }

        
    }
}

@media(max-width: 992px){
    .hero .hero_sect-text .hero_sect-text-inner{
        width: 100%;
    }

    .top_nav-inner{
        background-color: $white;

        .nav_left-list::before{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 2000rem;
            transform: translateX(100%);
            background-color: $white;
        }

        
    }
    .navbar-collapse{
        background-color: lighten($color: #000000, $amount: 55%);
        margin-top: 1rem;
        padding: 0 1rem;
    }


    .nav_btn-proj{
        position: absolute;
        top: 0;
        right: 3.5rem;
    }
}

@media(max-width: 768px){
    .company_services{
        .sec_heading{
            width: 100%;
        }
    }
}

@media(max-width: 576px){

    .design_sect-images{
        padding: 2rem 0;
        .design_img-b{
            width: 100%;
        }
    }
    .d_none{
        display: none;
    }

    
}



// .list__item:not(:last-child)